<div class="center">
  <div class="wrapper">
    <h2 class="heading"><%= @developer.name %>
      <% if current_user.admin? %>
        <%= link_to image_tag('edit.png'), edit_developer_path(@developer), class: 'right' %>
      <% end %>
    </h2>
    <%= render partial: '/games/game', collection: @developer.games %>
  </div>
</div>