<div class="faq_constraint">
  <h1 id="faq_header">
    F<span>requently</span>
    A<span>sked </span>
    Q<span>uestions</span>
  </h1>
  <div class="wrapper">
    <% @grouped_faqs.each do |group| %>
      <ul class="faq_link_list">
        <% group.each do |faq| %>
          <li><%= link_to faq.question, "#faq_#{faq.id}" %></li>
        <% end %>
      </ul>
    <% end %><br class="clear"/>
  </div>
  <% @faqs.each do |faq| %>
    <div class="faq_item" id="faq_<%= faq.id %>">
      <div class="symbols">
        <span class="q">Q</span>
        <span>A</span>
      </div>
      <div class="faq_question"><%= faq.question %></div>
      <p><%= faq.answer %></p>
    </div>
  <% end %>
</div>