<div class="center">
  <h1 id="pageHeader"><%= @user.username.possessive %> Comments</h1>
  <br/>
  <% @grouped_comments.each do |game, comments| %>
    <fieldset class="game_comment_list">
      <legend><%= link_to "#{game.title} #{small_game_thumb(game)}".html_safe, game %></legend>
      <% comments.each do |comment| %>
        <%= render partial: 'comment', locals: {comment: comment} %>
      <% end %>
    </fieldset>
  <% end %>
</div>
<%= javascript_include_tag params[:controller] %>