<div id="likes_wrapper">
  <% @all_likes.each do |like| %>
    <% game = like.game %>
    <div class="game_wrapper">
      <span>
        <div class="game_img">
          <%= link_to game_thumb(game), game %>
          <%= special_status_image(game) %>
        </div>
        <%= link_to game.title, game, class: 'game_link', title: game.title %>
      </span>
    </div>
  <% end %>
</div>
<div class="user_content_pagination"><%= will_paginate @all_likes, param_name: :likes %></div>
