<div id="likes_wrapper">
  <% @all_likes.each do |like| %>
    <%= render partial: '/games/game', locals: {game: like.game} %>
  <% end %>
</div>
<div class="user_content_pagination"><%= will_paginate @all_likes, param_name: :likes %></div>
