<div id="recents_wrapper">
  <% @all_recents.each do |recent| %>
    <%= render partial: '/games/game', locals: {game: recent.game} %>
  <% end %>
</div>
<div class="user_content_pagination"><%= will_paginate @all_recents, param_name: :recents %></div>
