<div id="change_username" title="Change Username">
  <%= form_for @user, html: {honeypot: true} do |f| %>
    <div class="form_field">
      <%= f.label :username, "New Username" %><br/>
      <%= f.text_field :username, value: @user.username, autocomplete: 'off' %><br/>
      <span id="username_check">&nbsp;</span>
    </div>
    <div class="form_submit">
      <%= f.submit "Change Username", id: 'un_submit_btn', disabled: true %>
    </div>
  <% end %>
</div>