<% if @errors.present? %>
  <span id="invalid">Username <%= @errors.first %>
    <span class="symbol">&#10007;</span>
  </span>
<% else %>
  <span id="valid">Username is valid!
    <span class="symbol">&#10003;</span>
  </span>
<% end %>