<%= form_for @user, html: {multipart: true} do |f| %>
  <a href="#" onclick="openFileBrowser()">Browse Files</a>
<%= f.file_field :image, style: 'display:none;' %><br/>
	<%= f.submit "Change Avatar" %>
<% end %>

<script>
function openFileBrowser() {
	$("#user_image").click()
}
</script>