<div class="games_list">
	<% games.each do |game| %>
		<div class="game_wrapper">
			<span>
				<div class="game_img">
					<%= link_to game_thumb(game), game %>
					<%= image_tag("star.png", class: 'featured_icon') if game.featured %>
				</div>
				<%= link_to game.title, game, class: 'game_link', title: game.title %>
			</span>
		</div>
	<% end %>
</div>