<div class="games_list">
	<% games.each do |game| %>
		<div class="game_wrapper">
			<span>
				<%= link_to game_thumb(game), game, title: game.title %>
				<%= link_to game.title, game, class: 'game_link', title: game.title %>
			</span>
		</div>
	<% end %>
</div>