<div id="slideshow">
	<a class="buttons prev" href="#"><</a>
	<a class="buttons next" href="#">></a>
	<div class="viewport">
		<ul class="overview">
      <% @images.each do |img| %>
		  	<li>
          <%= featured_image(img) %>
          <%= link_to "&#8594;".html_safe, img.link, class: 'slideshowLink', title: img.title %>
        </li>
      <% end %>
		</ul>
	</div>
</div>