<div id="slideshow">
	<a class="buttons prev" href="#"><</a>
	<a class="buttons next" href="#">></a>
	<div class="viewport">
		<ul class="overview">
      <% @images.each do |img| %>
		  	<li>
          <%= featured_image(img) %>
          <%= link_to img.link, class: 'slideshowLink', title: img.title do %>
            <p class="linkExt">GO! </p>&#8594;
          <% end %>
        </li>
      <% end %>
		</ul>
	</div>
</div>