<div id="slideshow">
	<a class="buttons prev" href="#"><</a>
	<a class="buttons next" href="#">></a>
	<div class="viewport">
		<ul class="overview">
      <% @images.each do |img| %>
		  	<li><%= link_to featured_image(img), img.link, title: img.title %></li>
      <% end %>
		</ul>
	</div>
</div>