<div class="center">
	<%= render partial: 'slideshow' %>
	<hr class="divider"/>
	<div class="games_container">
		<h3>Featured Games</h3>
		<%= render partial: 'game_list', locals: {games: @games} %>
	</div>

	<div class="games_container">
		<h3>Random Games</h3>
		<%= render partial: 'game_list', locals: {games: @random_games} %>
	</div>
</div>
<%= javascript_include_tag 'jquery.tinycarousel' %>