<% if game.present? %>
  <div class="game_wrapper">
    <%= new_game_status(game) %>
    <span>
      <div class="game_img">
        <%= link_to game_thumb(game), game %>
        <%= special_status_image(game) %>
      </div>
      <%= link_to game.title, game, class: 'game_link', title: game.title %>
    </span>
  </div>
<% end %>
