<div id="under_development" class="center">
  <%= image_tag "construction.png", class: 'construction' %>
  <h1>Under Development</h1>
  <hr class="divider top_hr"/>
  <p id="dev_exp">
    This section will be released after a sufficient<br/> 
    amount of game ratings have been submitted.
  </p>
  <hr class="divider bottom_hr"/>
  <p>
    Please be sure to leave your opinion on games you play by voting 
    <%= image_tag 'thumbs_up.png', class: "up_link" %> 
    or <%= image_tag 'thumbs_down.png', class: "down_link" %>.
  </p>

  <%= image_tag "construction.png", class: 'construction' %>
</div>
<br class="clear"/>