<p>
  Under Development<br/>

  This section will be released after a sufficient amount of game ratings have been submitted.<br/>
  Please be sure to leave your opinion on games you play by voting <%= image_tag 'thumbs_up.png', class: "up_link" %> or <%= image_tag 'thumbs_down.png', class: "down_link" %>.
</p>