#search label{
  padding:18px;
}
#under_development .divider {
  width:600px;
}
.wrapper, .form, .games_container, #search #title_search, 
#results .search_result .search_result_content, #game_show, 
#game_stats, #game_details span #game_description, #game_details span #game_controls, 
#comments_wrapper, #most_played .item .item_content, #signup-form, 
.form_wrapper .steps li.current, #user_show, #no_comments, .game_comment_list {
  background: transparent;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#7FFFFFFF,endColorstr=#7FFFFFFF)"; 
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7FFFFFFF,endColorstr=#7FFFFFFF);
  zoom: 1;
}
#user_show .user_content {
  background: transparent;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99FFFFFF,endColorstr=#99FFFFFF)";
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99FFFFFF,endColorstr=#99FFFFFF);
  zoom: 1;
}
#user_show .user_col .user_stats .rank .lvl {letter-spacing:1px; font-size:0.95em;}
.form .form_field #contact_us_reason {background:none;}
.form .form_field #contact_us_reason input[type="radio"] {border:0; background:none;}
#sessions_links .ui_img {border:1px solid transparent;}
#sessions_links a:hover .u_img, #sessions_links a.current .u_img {border:1px solid #444444;}
.game_comment_list legend a img {vertical-align: middle;}
.game_comment_list legend {padding-right:5px;}