/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.ui.all
 *= require_directory .
 */
body, html {height:100%; padding:0; margin:0; font-family: sans-serif, arial; color:#444;}
a {border:0; text-decoration:none; outline:0; color:#8AB327;}
a:hover {color:#a7db2c;}
a:active {color:#5b881a;}
img {outline:0; border:0;}
#wrapper {
	min-height:100%;
	position:relative;
	background-image:url('xword.png');
	background-repeat:repeat;
	min-width:1200px;
}
#header {width:100%; height:75px;}
#linkbar { width:100%; height:50px; background:#333; overflow:visible;}
#logo_container {width:229px; margin-left:10px; display:inline-block;}
#logo_wrapper{width:215px; display:inline-block; height:75px;}
#logo_wrapper a {display:block; height:100%; width:100%;}
#logo_wrapper a img {vertical-align: top;}
#logo_rounded_corner_left, #logo_rounded_corner_right {
	width:7px;
	height:7px;
	background-image: url('reverse_rounded_corners.png'); 
	background-repeat:no-repeat;
	display:inline-block;
	vertical-align:top;
	margin-top:50px;
}
#logo_rounded_corner_left {background-position:-7px 0;}
#logo_rounded_corner_right {background-position:0 0;}
#body {padding-bottom:90px; margin:0 10px;}
#footer {
	height:90px;
	width:100%;
	position:absolute;
	bottom:0;
	left:0;
	background:none;
}
#footer_border {
	width:100%;
	height:15px;
	background-repeat:repeat-x;
	background:url('triangles.png');
}
#footer_content {height:75px; background:#333;}
#menu {
	padding:0;
	margin:0;
	display:inline-block;
	vertical-align: top;
}
#menu li {
	list-style-type:none;
	line-height:50px;
	display:inline-block;
	color:#fff;
  position:relative;
}
#menu li a {
	display:block;
	padding:0 15px;
	text-align:center;
	color:#fff;
	text-decoration:none;
	font-weight:bold;
	font-size:0.75em;
	border-right:1px solid #333;
	border-left:1px solid #333;
	text-transform:uppercase;
	text-shadow:0 -1px 0 #111, 0 0 2px #888;
}
#menu li span.coming_soon {
  background:#8B0000;
  position:absolute;
  top:0;
  right:5px;
  height:7px;
  font-size:0.5em;
  line-height:7px;
  padding:4px;
  font-weight:bold;
  display:inline-block;
  text-shadow: 0 -1px 0 #111;
  -moz-border-radius-bottomright:3px;
  -moz-border-radius-bottomleft:3px;
  -webkit-border-bottom-right-radius:3px;
  -webkit-border-bottom-left-radius:3px;
  border-bottom-right-radius:3px;
  border-bottom-left-radius:3px;
  -moz-box-shadow:0 0 2px #111;
  -webkit-box-shadow:0 0 2px #111;
  box-shadow:0 0 2px #111;
  letter-spacing:0.5px;
}
#sessions_links {float:right; width:auto;}
#sessions_links a {
	text-align:center;
	display:inline-block;
	line-height:50px;
	padding:0 10px;
	color:#fff;
	text-decoration:none;
	text-overflow:ellipsis;
	font-weight:bold;
	font-size:0.75em;
	border-right:1px solid #333;
	border-left:1px solid #333;
	max-width:130px;
	overflow:hidden;
	white-space: nowrap;
	text-transform:uppercase;
	text-shadow:0 -1px 0 #111, 0 0 2px #888;
}
#sessions_links a img {vertical-align: middle; margin-right:5px; -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px;}
#menu li a.current, #menu li a:hover, #sessions_links a.current, #sessions_links a:hover {
	background:none;
	background-color:#111;
	-moz-box-shadow:0 0 15px #000 inset;
	-webkit-box-shadow:0 0 15px #000 inset;
	box-shadow:0 0 15px #000 inset;
	border-left:1px solid #444;
	border-right:1px solid #444;
	text-shadow:none;
}
#menu li.submenu_container {
	position:relative;
	height:50px;
	z-index:1000;
	overflow:visible;
}
#menu li .submenu {
	display:none;
	width:100%;
	width:-moz-calc(100% - 2px);
	width:-webkit-calc(100% - 2px);
	width:calc(100% - 2px);
	top:100%;
	top:-moz-calc(100% - 1px);
	top:-webkit-calc(100% - 1px);
	top:calc(100% - 1px);
	left:1px;
	position:absolute;
	z-index:999;
	padding:0;
	overflow:hidden;
	-moz-box-shadow:3px 3px 3px -3px #838383, 3px 3px 3px -3px #838383, -3px 3px 3px -3px #838383;
	-webkit-box-shadow:3px 3px 3px -3px #838383, 3px 3px 3px -3px #838383, -3px 3px 3px -3px #838383;
	box-shadow:3px 3px 3px -3px #838383, 3px 3px 3px -3px #838383, -3px 3px 3px -3px #838383;
	-moz-border-radius-bottomright:5px;
	-moz-border-radius-bottomleft:5px;
	-webkit-border-bottom-right-radius:5px;
	-webkit-border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	border-bottom-left-radius:5px;
}
#menu li .submenu li {
	background:#333;
	line-height:20px;
	padding:0;
	display:list-item;
	width:100%;
}
#menu li .submenu li a {
	text-align:left;
	border:0;
	padding:3px 10px;
	display:block;
	font-size:0.6em;
	border-top:1px solid #444;
	border-bottom:1px solid #222;
	position:relative;
	color:#fff;
	text-transform: uppercase;
}
#menu li .submenu li a img {position:absolute; right:0; top:0; background:#111; border-left:1px solid #444; padding: 5px;}
#menu li .submenu li a:hover img, #menu li .submenu li a.current img {background:none; border-left:0;}
#menu li .submenu li a#top {padding:0; border-top:0}
::-moz-selection { color: #fff; text-shadow:none; background: #7cc6ff; }
::selection      { color: #fff; text-shadow:none; background: #7cc6ff; } 
.constraint {width:80%; margin:0 auto; max-width:1230px;}
.sub_arrow {font-size:0.5em; vertical-align:top;}
.center {text-align:center;}
.clear {clear:both;}
.placeholder{color:#888;}
.inline-block{display:inline-block;}
.no_results {font-style:italic; font-size:0.8em;}
.vertical-top{vertical-align: top;}
.flash {
	margin:10px 0 0 0;
	padding:10px 100px 10px 100px;
	font-weight:normal;
	font-size:0.8em;
	background-position: right center;
	background-repeat:no-repeat;
	-moz-text-shadow:0 1px 0 #F4F7E8;
	-webkit-text-shadow:0 1px 0 #F4F7E8;
	text-shadow:0 1px 0 #F4F7E8;
	display:inline-block;
}
.notice{
	background-color:#E8EECC;
	border:1px solid #a2d42f;
	border-top:3px solid #a2d42f;
	color:#a2d42f;
	background-image:url('check.png');
}
.alert {
	background-color:#FEDEDE;
	border:1px solid #f50000;
	border-top:3px solid #f50000;
	color:#f50000;
	background-image:url('cross.png');
}
.field_with_errors { display: inline; }
.form_errors {
	border:1px solid #ccc;
	background:#fbfbfb;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
  margin-bottom:15px;
}
.form_errors legend {
	border:1px solid #ccc;
	background:#ededed;
	padding:5px 10px;
	font-weight:bold;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}
.form_errors ul {
	display:inline-block;
	padding:0;
	margin:0 auto;
	text-align: left;
}
.form_errors ul li {color:#FF0000; font-size:0.75em;}
.pagination {margin-top:5px; display:inline-block; float:right;}
.pagination a, .pagination em, .pagination .disabled {
	padding:3px 4px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	color:#444;
	font-size:0.9em;
	border:1px solid #fff;
}
.pagination em {
	color:#fff;
	font-weight:bold;
	background:#A2D42F;
}
.pagination a:hover {border:1px solid #A2D42F; background:#e2ff9d;}
.pagination .disabled {color:#ccc;}
hr.divider {
  width:100%;
  border:0;
  background:#ccc;
  background:-moz-linear-gradient(left center, rgba(255, 255, 255, 0), #ccc, rgba(255, 255, 255, 0));
  background:-webkit-linear-gradient(left,rgba(255, 255, 255, 0), #ccc, rgba(255, 255, 255, 0));
  background:linear-gradient(left center, rgba(255, 255, 255, 0), #ccc, rgba(255, 255, 255, 0));
  height:1px;
  margin:25px auto 20px auto;
}
.featured_star_icon {float:right;}
.no_mar_bottom- {margin-bottom:0 !important;}
.no_mar_top- {margin-top:0 !important;}