/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
body, html {height:100%; padding:0; margin:0; font-family:sans-serif, arial; color:#444;}
#wrapper {min-height:100%; position:relative;}
#header {height:50px; background:black;}
#body {
	padding-bottom:20px;
	margin:0 10px;
}
#footer {
	height:20px;
	width:100%;
	position:absolute;
	bottom:0;
	left:0;
	background:black;
}
#menu {
	padding:0;
	margin:0;
}
#menu li {
	list-style-type:none;
	display:inline-block;
	color:white;
	line-height:50px;
}