.category_title {
	background:#A2D42F;
	color:#fff;
	display:inline-block;
	padding:15px 30px;
	margin-top:-30px;
	-moz-text-shadow:0 -1px 0 #8ab327;
	-webkit-text-shadow:0 -1px 0 #8ab327;
	text-shadow:0 -1px 0 #8ab327;
	-moz-box-shadow:0 2px 3px #ccc;
	-webkit-box-shadow:0 2px 3px #ccc;
	box-shadow:0 2px 3px #ccc;
	-moz-border-radius-bottomright:20px;
	-moz-border-radius-bottomleft:20px;
	-webkit-border-bottom-right-radius:20px;
	-webkit-border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
	border-bottom-left-radius:20px;
	position:absolute;
	right:10%;
	top:80px;
}
#ft_game_link {
	padding:15px 19px;
	color:#fff;
	border-radius:8px;
	font-weight:bold;
	background:#A2D42F;
	-moz-text-shadow:0 -1px 0 #8ab327;
	-webkit-text-shadow:0 -1px 0 #8ab327;
	text-shadow:0 -1px 0 #8ab327;
	-moz-box-shadow:0 2px 3px #ccc;
	-webkit-box-shadow:0 2px 3px #ccc;
	box-shadow:0 2px 3px #ccc;
}