.comment_form {
	width:100%;
	.form_field {
		width:100%;
		label {
			font-weight:bold;
			font-size:1.1em;
		}
		#comment_message {
			width:100%;
			resize:none;
			height:80px;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			border:1px solid #ccc;
			-moz-border-radius:4px;
			-webkit-border-radius:4px;
			border-radius:4px;
			background: #FFFFE6;
			font-family:sans-serif;
			margin-bottom:5px;
			font-size:1em;
		}
	}
	.form_submit {
		text-align:center;
		input[type=submit] {
			padding:10px;
			border:1px solid #ccc;
			margin-bottom:10px;
			background:#ededed;
			-moz-border-radius:4px;
			-webkit-border-radius:4px;
			border-radius:4px;
			font-size:0.9em;
			&:hover{background:#dedede; cursor:pointer;}
			&:active {position:relative; top:1px;}
		}
	}
}
hr#comment_divider {
	background:#ccc;
	height:1px;
	width:100%;
	border:0;
}
#comments {
	.comment {
		margin:20px 0;
		min-height:32px;
		position:relative;
		padding:5px 5px 25px 45px;
		border:1px solid #ccc;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		border-radius:5px;
		box-shadow:0 0 3px #ccc;
		background:#fff;
		img {
			position:absolute; top:5px; left:5px;
			border:1px solid #ccc;
			-moz-border-radius:3px;
			-webkit-border-radius:3px;
			border-radius:3px;
		}
		.comment_details {
			position:absolute;
			bottom:5px;
			left:5px;
			color:#999;
		}
		.comment_action {
			position:absolute;
			right:5px;
			bottom:5px;
		}
	}
}