#link_tester {
	width:12px;
	height:12px;
	display:inline-block;
	padding:6px;
	background:#ededed;
	border:1px solid #ccc;
	border-left:0;
	-moz-border-radius-bottomright:5px;
	-moz-border-radius-topright:5px;
	-webkit-border-bottom-right-radius:5px;
	-webkit-border-top-right-radius:5px;
	border-top-right-radius:3px;
	border-bottom-right-radius:3px;
	img {width:12px; height:12px; display:block;}
	&:hover {
		background:#dedede;
	}
}
