.faq_constraint {
  width:65%;
  max-width:1000px;
  text-align:center;
  margin:0 auto;
  #faq_header {
    text-align:right;
    border-bottom:3px dotted #444;
    letter-spacing: 3px;
    span {
      font-weight:normal;
      font-size:0.8em;
    }
    a {float:left; font-size:0.5em; font-weight:normal; letter-spacing: 0; line-height:300%;}
  }
  .faq_link_list {
    text-align:left;
    width:33%;
    width:33.3%;
    float:left;
    padding:0;
    margin:0;
    li {
      margin-left:15px;
      font-size:0.8em;
    }
  }
  .faq_item {
    text-align:left;
    margin:20px 0 20px 30px;
    position:relative;
    padding:5px 0 5px 15px;
    border:1px solid transparent;
    border-left:1px solid #444;
    -moz-border-radius:0;
    -webkit-border-radius:0;
    border-radius:0;
    p {margin:0;}
    .faq_question {margin:0; font-size:1.2em; margin-bottom:5px; font-weight:bold;}
    .symbols {
      position:absolute;
      top:0;
      left:-30px;
      font-weight:bold;
      font-size:1.2em;
      padding-top:5px;
      span {display:block; margin:0;}
      .q {margin:0 0 4px 0;}
    }
  }
  :target {
    -moz-border-radius:12px;
    -webkit-border-radius:12px;
    border-radius:12px;
    background:rgba(255,255,255,0.5);
    border:1px solid #ccc;
    -moz-box-shadow:0 0 3px #ccc;
    -webkit-box-shadow:0 0 3px #ccc;
    box-shadow:0 0 3px #ccc;
  }
}
.best_in_place {
  input[type='submit'] {
    display:block;
  }
}