.featured_category_title {
	width:600px; padding:8px 10px;
	background:white;
	border:1px solid #ccc;
	margin:50px auto 10px auto;
	border-radius:10px;
	font-family:Century Gothic;
	font-weight:normal;
	box-shadow:0 0 3px #ccc;
}