.featured_category_title {
	width:600px; padding:8px 10px;
	background:white;
	border:1px solid #ccc;
	margin:50px auto 10px auto;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	font-family:'Petita', sans-serif;
	font-weight:normal;
	-moz-box-shadow:0 0 3px #ccc;
	-webkit-box-shadow:0 0 3px #ccc;
	box-shadow:0 0 3px #ccc;
	position:relative;
	#toggle {
		position:absolute;
		right:10px;
		font-size:0.5em;
		font-weight:normal;
		top:11px;
		color:#444;
		border-radius:4px;
		padding:5px 7px;
		&:hover {background:#ededed;}
	}
}
.feature_game_search {
	width:620px;
	margin:30px auto 10px auto;
	position:relative;
	#game_name_search {
		background-color: #fff;
	  background-color: rgba(255, 255, 255, 0.5);
		border:1px solid #ccc;
		padding:10px; 
		display:block;
		width:598px;
	}
	input[type=submit] {
		background:none;
		background-image:url('search.png');
		background-position:center center;
		background-repeat:no-repeat;
		height:37px;
		width:40px;
		position:absolute;
		top:1px;
		right:1px;
		border:0;
		padding:0;
		cursor:pointer;
		&:hover {background-color:rgba(237, 237, 237, 0.5); border-left:1px solid #ccc;}
	}
}
.game_search_pagination {
	width:620px;
	text-align:right;
	display:block;
	margin:10px auto;
	.pagination {float:none;}
}
.featured_category_name {
  margin:0 auto;
  position:relative;
  width:540px;
  a {color:#444;}
  a:hover {
    color:#777;
    &:after {
      content:"Go →";
      position:absolute;
      right:0;
      top:8px;
      font-size:0.6em;
    }
  }
}
#featured_games_list {
  .divider {margin:5px 0;}
}