@font-face {
	font: {
    family: 'Petita';
    weight: 'bold';
    style: 'normal';
  }
	src: asset-url('petitabold-webfont.eot', font); /* IE9 Compat Modes */
	src: asset-url('petitabold-webfont.eot?#iefix', font) format('embedded-opentype'),
	     asset-url('petitabold-webfont.woff', font) format('woff'),
	     asset-url('petitabold-webfont.ttf', font)  format('truetype'),
	     asset-url('petitabold-webfont.svg#Petita', font) format('svg')
}
.form {
	padding:0 35px 20px 35px;
	background:#fff;
	display:inline-block;
	border:1px solid #ccc;
	margin:30px 0;
	font-family:Tahoma, Geneva, sans-serif;
	-webkit-box-shadow:0 0 3px #E1E1E1;
	-moz-box-shadow:0 0 3px #E1E1E1;
	box-shadow:0 0 3px #E1E1E1;
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	border-radius:8px;
	.form_header {
		margin:-25px auto 20px auto;
		background:#ededed;
		padding:10px;
		border:1px solid #ccc;
		-webkit-box-shadow:0 0 3px #E1E1E1;
		-moz-box-shadow:0 0 3px #E1E1E1;
		box-shadow:0 0 3px #E1E1E1;
		-webkit-border-radius:5px;
		-moz-border-radius:5px;
		border-radius:5px;
		-moz-box-shadow:inset 0px 1px 0px 0px #c8eda8, 0 0 7px #aaa;
		-webkit-box-shadow:inset 0px 1px 0px 0px #c8eda8, 0 0 7px #aaa;
		box-shadow:inset 0px 1px 0px 0px #c8eda8, 0 0 7px #aaa;
		background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #a2d42f), color-stop(1, #81ab1f) );
		background:-moz-linear-gradient( center top, #a2d42f 5%, #81ab1f 100% );
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a2d42f', endColorstr='#81ab1f');
		background-color:#a2d42f;
		-webkit-border-radius:16px;
		-moz-border-radius:16px;
		border-radius:12px;
		text-indent:0;
		border:1px solid #83c41a;
		display:inline-block;
		color:#F2F8E6;
		font-size:30px;
		font-weight:bold;
		font-style:normal;
		font-family:'Petita', "Arial Black", sans-serif;
		line-height:60px;
		height:60px;
		padding:0 40px;
		text-decoration:none;
		text-align:center;
		-webkit-text-shadow:0px -1px 0px #689324;
		-moz-text-shadow:0px -1px 0px #689324;
		text-shadow:0px -1px 0px #689324;
		margin-left:-50%;
	}
	input {
		padding:4px;
		border:1px solid #ccc;
		margin-bottom:10px;
		width:200px;
		-moz-border-radius:3px;
		-webkit-border-radius:3px;
		border-radius:3px;
		background: #FFFFE6;
		&:focus{background:#fff;}
		&:active {position:relative; top:1px;}
	}
	input[type="checkbox"] {
		padding:0;
		width:auto;
	}
	input[type=submit] {
		background:#ededed;
		width:210px;
		&:hover{background:#dedede; cursor:pointer;}
	}
	label {display:inline-block; font-size:0.9em;}
}