#game_show {
	background:#fff;
  background:rgba(255, 255, 255, 0.5);
	display:inline-block;
	border:1px solid #ccc;
	min-width:600px;
	min-height:300px;
	-moz-box-shadow:0 0 8px #ccc;
	-webkit-box-shadow:0 0 8px #ccc;
	box-shadow:0 0 8px #ccc;
	margin:10px auto 15px auto;
	padding-bottom:20px;
	position:relative;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border-radius:5px;
  text-align:center;
	#game_header {
		max-width:100%;
		width:auto;
		height:76px;
		padding-left:90px;
		margin:20px 20px 10px 20px;
		position:relative;
		div#game_img {
			position:absolute;
			top:0;
			left:0;
			img {
				border:1px solid #ccc;
				-moz-border-radius:8px;
				-webkit-border-radius:8px;
				border-radius:8px;
			}
			.featured_icon {
				position:absolute;
				top:-8px;
				left:-8px;
				-moz-border-radius:0;
				-webkit-border-radius:0;
				border-radius:0;
				border:0;
			}
		}
		h1#title {
			margin:0;
			border-bottom:1px solid #ccc;
			position:relative;
			color:#A2D42F;
      text-align:left;
			text-shadow:0 1px 0 #008000;
			font-family:'Petita', sans-serif;
			span {
				position:absolute;
				bottom:4px;
				right:0;
				font-weight:normal;
				font-size:0.4em;
				color:#999;
				text-shadow:none;
				a{
					color:#999;
					text-decoration: none;
					&:hover {color:#444;}
				}
			}
		}
	}
	#game_body {
		text-align:center;
    display:inline-block;
    margin:0 20px;
		embed {
			position:relative;
			z-index:100;
			border:1px solid #ccc;
			margin:0;
      background:#000;
		}
		.categories {
			text-align:left;
			font-size:0.8em;
			color:#999; 
			margin:0;
			font-family:'Petita', sans-serif;
			a {color:#999; font-weight:normal; &:hover{color:#444;}}
      .date_stamp {float:right; font-size:0.8em; margin-top:3px;}
		}
	}
  #sequel_list_container {
    position:absolute;
    display:inline-block;
    left:101%;
    top:-1px;
    #game_sequels {
      padding:0;
      margin:0;
      li {
        list-style-type:none;
        display:block;
        padding:8px;
        background:#fff;
        background:rgba(255,255,255,0.5);
        border:1px solid #ccc;
        margin-bottom:5px;
        font-size:0.65em;
        -moz-box-shadow:0 0 3px #ccc;
        -webkit-box-shadow:0 0 3px #ccc;
        box-shadow:0 0 3px #ccc;
        -moz-border-radius:5px;
        -webkit-border-radius:5px;
        border-radius:5px;
        a {
          img {
            -moz-border-radius:4px;
            -webkit-border-radius:4px;
            border-radius:4px;
            border:1px solid #ccc;
            vertical-align:middle;
            margin-bottom:5px;
          }
        }
      }
      input[type='submit'] {
        font-size:0.6em;
        display:block;
        background:rgba(255,255,255,0.5);
        border:1px solid #ccc;
        padding:3px;
        -moz-border-radius:4px;
        -webkit-border-radius:4px;
        border-radius:4px;
        color:#8ab327;
        -moz-box-shadow:0 0 3px #ccc;
        -webkit-box-shadow:0 0 3px #ccc;
        box-shadow:0 0 3px #ccc;
        &:hover {background:#fff; cursor:pointer;}
        &:active {position:relative; top:1px; outline: 0;}
      }
    }
  }
}
#game_stats {
	margin:0 auto 15px auto;
	background:#fff;
  background:rgba(255, 255, 255, 0.5);
	-moz-box-shadow:0 0 8px #ccc;
	-webkit-box-shadow:0 0 8px #ccc;
	box-shadow:0 0 8px #ccc;
	border:1px solid #ccc;
	text-align:left;
	font-size:0.9em;
	position:relative;
	display:block;
	width:auto;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border-radius:5px;
	.spinner {margin:20px auto; display:block;}
	#page_visits {
		margin:20px;
		display:block;
		color:#A2D42F;
		font-weight:bold;
		text-shadow:0 1px 0 #008000;
		font-family:'Petita', sans-serif;
    letter-spacing: 1px;
		#visits_count {
      letter-spacing: normal;
			font-family:sans-serif;
			font-weight:normal;
			font-size:0.9em;
			text-shadow:none;
			color:#444;
			background:#FFFFE0;
			padding:2px 4px;
			-moz-border-radius:4px;
			-webkit-border-radius:4px;
			border-radius:4px;
			border:1px solid #d4c800;
		}
    #stats_toggle {
      letter-spacing: normal;
      min-height:16px;
      min-width:16px;
      vertical-align:middle;
      display:inline-block;
      border:1px solid transparent;
      img {vertical-align:middle;}
      span {display:none; font-size:0.7em; color: #A2D42F; text-shadow:none; vertical-align:middle;}
      &:hover {
        border:1px solid #A2D42F;;
        background:#E2FF9D;
        -webkit-border-radius:4px;
        -moz-border-radius:4px;
        border-radius:4px;
        span {display:inline-block; margin:0; vertical-align:middle; margin-right:5px;}
      }
    }
	}
	.reputation {
		position:absolute;
		right:20px;
		top:20px;
		white-space:nowrap;
		.reputation_bar {
			width:150px;
			height:20px;
			margin:0;
			padding:0;
			display:inline-block;
			overflow:hidden;
			-moz-border-radius:3px;
			-webkit-border-radius:3px;
			border-radius:3px;
			white-space:nowrap;
			position:relative;
			.left_bar, .right_bar {
				display:inline-block;
				width:50%;
				height:100%;
				background-color: #A2D42F;
			}
			.left_bar {width:50%; background-color:#DB4E10;}
			.full_bar {
				height:100%;
				display:block;
				background:#dedede;
				text-align:center;
				line-height:20px;
				font-size:0.8em;
				font-style:italic;
			}
			p.percentage {
				width:100%;
				margin:0;
				padding:0;
				height:100%;
				position:absolute;
				z-index:5;
				text-align:center;
				font-size:0.8em;
				font-weight:bold;
				color:#fff;
				line-height:20px;
				-moz-text-shadow:0 -1px 0 #999;
				-webkit-text-shadow:0 -1px 0 #999;
				text-shadow:0 -1px 0 #999;
			}
		}		
	}
}
.up_link, .down_link {
  padding:1px;
  vertical-align: top;
  height:16px;
  width:16px;
  border:1px solid #DB4E10;
  display:inline-block;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border-radius:5px;
  background:#DB4E10;
  &:hover {background:#FCB3AA;}
  img {width:16px; height:16px;}
}
.up_link {
  border-color:#A2D42F;
  background:#A2D42F;
  &:hover {background:#E2FF9D;}
}
.voted, .voted:hover {background: #fffbc2; border-color:#fff000; cursor:default;}
#ext_stats {
  margin:0;
  text-align:center;
  padding:0 20px 20px 20px;
  display:none;
  .stats_wrapper {
    display:block;
    width:100%;
    margin:0;
    padding:0 0 10px 0;
    text-align:center;
    .plays_stat_box {
      width:33%;
      width:33.3%;
      display:inline-block;
      margin:0 auto;
      height:100%;
      float:left;
      text-align:center;
      font-size:0.8em;
      .play_count {
        display:inline-block;
        width:150px;
        height:150px;
        background:#ccc;
        margin:10px auto;
        border-radius:75px;
        box-shadow:0 0 3px rgba(237, 237, 237, 0.8);
        text-align:center;
        line-height:150px;
        font-size:4em;
        &.today {
          background:#dff4ae;
          -moz-box-shadow: 0 3px 3px #DEDEDE;
          -webkit-box-shadow: 0 3px 3px #DEDEDE;
          box-shadow: 0 3px 3px #DEDEDE;
        }
        &.this_week {
          background:#C2D98C;
          -moz-box-shadow: 0 3px 3px #DEDEDE;
          -webkit-box-shadow: 0 3px 3px #DEDEDE;
          box-shadow: 0 3px 3px #DEDEDE;
        }
        &.this_month {
          background:#A2D42F;
          -moz-box-shadow: 0 3px 3px #DEDEDE;
          -webkit-box-shadow: 0 3px 3px #DEDEDE;
          box-shadow: 0 3px 3px #DEDEDE;
        }
      }
    }
  }
  #hide {
    color:#A2D42F;
    display:block;
    padding:5px 0;
    &:hover {
      background: #dedede;
      -moz-border-radius:5px;
      -webkit-border-radius:5px;
      border-radius:5px;
    }
  }
}
#recommendations {
  padding:0;
  font-size:0.8em;
  margin:0 auto 20px auto;
  #recommendations_wrapper {
    margin:0 20px 20px 20px;
    display:block;
    overflow-x:auto;
    white-space: nowrap;
    .game_wrapper:last-child {margin-right:0;}
    .game_wrapper:first-child {margin-left:0;}
    #no_recommendations {
      height:150px;
      line-height:150px;
      margin:0;
      font-style:italic;
    }
  }
  h3 {
    text-align:left;
    border-bottom:#ccc solid 1px;
    margin:20px 20px 5px 20px;
    font-size:1.1em;
    color:#A2D42F;
    text-shadow:0 1px 0 #008000;
    font-family:'Petita', sans-serif;
    letter-spacing: 1px;
  }
}
#game_details {
	margin:0 auto;
	#left_description_col, #right_controls_col {
		width:65%;
		display:inline-block;
		vertical-align: top;
		#game_description, #game_controls {
			width:auto;
			display:block;
			padding:20px;
			background:#fff;
      background:rgba(255, 255, 255, 0.5);
			border:1px solid #ccc;
			-moz-box-shadow:0 0 8px #ccc;
			-webkit-box-shadow:0 0 8px #ccc;
			box-shadow:0 0 8px #ccc;
			font-size:0.8em;
			text-align:left;
      -moz-border-radius:5px;
      -webkit-border-radius:5px;
      border-radius:5px;
			h3 {
				border-bottom:#ccc solid 1px;
				margin:0 0 5px 0;
				font-size:1.1em;
				color:#A2D42F;
				text-shadow:0 1px 0 #008000;
				font-family:'Petita', sans-serif;
        letter-spacing: 1px;
			}
      pre {
        font-family: Consolas,monospace;
        border:1px solid #ccc;
        -moz-box-shadow:0 -1px 1px #ccc inset;
        -webkit-box-shadow:0 -1px 1px #ccc inset;
        box-shadow:0 -1px 1px #ccc inset;
        padding:3px;
        text-transform: uppercase;
        display:inline-block;
        background:#fff;
        color:#ccc;
        -moz-border-radius:3px;
        -webkit-border-radius:3px;
        border-radius:3px;
        vertical-align:middle;
        margin:2px 0;
      }
      .mouse {
        background:#fff;
        border:1px solid #ccc;
        -moz-box-shadow:0 -1px 1px #ccc inset;
        -webkit-box-shadow:0 -1px 1px #ccc inset;
        box-shadow:0 -1px 1px #ccc inset;
        -moz-border-radius:7px 7px 10px 10px;
        -webkit-border-radius:7px 7px 10px 10px;
        border-radius:7px 7px 10px 10px;
        display:inline-block;
        height:22px;
        width:14px;
        position:relative;
        vertical-align:middle;
        &:after {
          background:#ccc;
          box-shadow:0 1px 2px #ccc;
          content:" ";
          height:10px;
          width:1px;
          left:6.5px;
          position:absolute;
        }
      }
      .wasd, .arrows {
        display:inline-block;
        text-align:center;
        font-size:0.7em;
        vertical-align: middle;
        span {
          display:inline-block;
          background:#fff;
          border:1px solid #ccc;
          color:#ccc;
          text-align:center;
          padding:1px 3px;
          font-family: Consolas,monospace;
          border-radius:2px;
          box-shadow:0 -1px 1px #ccc inset;
        }
      }
		}
		#game_description {margin-right:15px;}
	}
  #right_controls_col {width:35%;}
}
.games_container {
	padding:20px;
	margin:10px auto;
	display:block;
	background:#fff;
  background:rgba(255, 255, 255, 0.5);
	border:1px solid #ccc;
	-moz-box-shadow:0 0 8px #ccc;
	-webkit-box-shadow:0 0 8px #ccc;
	box-shadow:0 0 8px #ccc;
	width:auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border-radius:5px;
	h3 {
		margin-top:0;
		border-bottom:1px solid #ccc;
		text-align:left;
		color:#8ab327;
		font-family:'Petita', sans-serif;
		text-shadow:0 1px 0 #008000;
	}
	.games_list {
		white-space: nowrap;
		overflow-x:auto;
    table.games_list_table {margin:auto; width:100%;}
	}
}
.yellow_bg {background:#FFFFE0;}
.game_wrapper {
	padding:5px;
	display:inline-block;
	padding:10px;
	background:#ededed;
	border:1px solid #ccc;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	font-size:0.75em;
	text-align:center;
	vertical-align: middle;
	margin:5px;
	position:relative;
	span{
		.game_img {
			display:inline-block;
			position:relative;
			img {
				background:#fff;
				border:1px solid #ccc;
				-moz-border-radius:5px;
				-webkit-border-radius:5px;
				border-radius:5px;
				cursor:pointer;
				vertical-align: top;
			}
			.featured_icon {
				position:absolute;
				top:-8px;
				left:-8px;
				-moz-border-radius:0;
				-webkit-border-radius:0;
				border-radius:0;
				border:0;
				background:none;
			}
		}
		a.game_link, a.vertical_game_link {
			display:block;
			height:77px;
			width:77px;
			color:#999;
			width:75px;
			height:32px;
			background:#f7f7f7;
			margin-top:5px;
			-moz-border-radius:5px;
			-webkit-border-radius:5px;
			border-radius:5px;
			border:1px solid #ccc;
			&:hover {
				color:#444;
				background:#fff;
			}
		}
		&:hover a.game_link {background:#fff; color:#444;}
		a.vertical_game_link {
			display:inline-block;
			margin-top:0;
			margin-left:5px;
			vertical-align: top;
			text-align:left;
			padding:5px;
			height:65px;
			width:500px;
			h4 {
				margin:0;
				border-bottom:1px solid #ccc;
			}
			p {margin:5px 0 0 0; height:45px; width:100%; overflow:hidden;}
		}
	}
	.action {
		position:absolute;
		right:-8px;
		top:-8px;
	}
}
#results {
  #no_results_placeholder, #search_loading {margin:120px;}
  .search_result {
    width:100%;
    text-align:left;
    position:relative;
    height:75px;
    margin:25px 0;
    .search_result_img {
      display:inline-block;
      position:absolute;
      top:-10px;
      left:-10px;
      img {
        background:#fff;
        border:1px solid #ccc;
        -moz-border-radius:8px;
        -webkit-border-radius:8px;
        border-radius:8px;
        -moz-box-shadow:0 0 3px #ccc;
        -webkit-box-shadow:0 0 3px #ccc;
        box-shadow:0 0 3px #ccc;
      }
    }
    .search_result_content {
      background:#fff;
      height:67px;
      padding:5px 10px 5px 75px;
      -moz-box-shadow:0 0 3px #ccc;
      -webkit-box-shadow:0 0 3px #ccc;
      box-shadow:0 0 3px #ccc;
      font-size:0.85em;
      border:1px solid #ccc;
      h2 {
        margin:0 0 5px 0;
        font-size:1em;
        font-weight:normal;
        .date_stamp {float:right; font-size:0.8em;}
        .search_result_categories, .search_result_categories a {color:#ccc;}
        .search_result_categories a:hover {color:#888;}
      }
      p.search_result_description {
        margin:0;
        font-size:0.85em;
        height:42px;
        width:100%;
        overflow:hidden;
      }
    }
  }
}
.ui-autocomplete {
  font-size:0.9em;
  -moz-border-radius:0;
  -webkit-border-radius:0;
  border-radius:0;
  border:1px solid #ccc;
  padding:5px;
  -moz-box-shadow:0 0 3px #ccc;
  -webkit-box-shadow:0 0 3px #ccc;
  box-shadow:0 0 3px #ccc;
  margin-bottom:1px;
  .ui-state-focus {
    border:1px solid #ccc;
    -moz-border-radius:0;
    -webkit-border-radius:0;
    border-radius:0;
    background:#ededed;
    cursor:pointer;
  }
}
#most_played {
  text-align:center;
  #tabs {
    ul {
      text-align:center;
      margin:20px 0;
      position:relative;
      padding:0;
      li {
        display:inline-block;
        list-style:none;
        a {
          height:20px;
          display:inline-block;
          line-height:20px;
          font-size:0.8em;
          border:1px solid #ccc;
          padding:0 10px;
          border-radius:4px;
          background:#fff;
          position:relative;
          z-index:5;
          &.current {background:#E2FF9D; color:#444; border-color:#A2D42F;}
        }
      }
      .divider {
        position:absolute;
        top:50%;
        left:0;
        margin:0;
      }
    }
    .tab {
      .tab_header {
        margin:20px 0;
        position:relative;
        text-shadow:0 1px 3px #999999;
        .per_page_links {
          position:absolute;
          right:0;
          bottom:0;
          font-size:0.6em;
          font-weight:normal;
          text-shadow:0 1px 3px #dedede;
          a {
            padding:4px;
            border:1px solid transparent;
            border-radius:4px;
            &.current {background:#E2FF9D; color:#444; border-color:#A2D42F;}
          }
        }
      }
    }
  }
  .item {
    width:100%;
    text-align:left;
    position:relative;
    height:62px;
    margin:15px 0;
    .item_img {
      display:inline-block;
      position:absolute;
      top:-10px;
      left:-10px;
      img {
        background:#fff;
        border:1px solid #ccc;
        -moz-border-radius:8px;
        -webkit-border-radius:8px;
        border-radius:8px;
        -moz-box-shadow:0 0 3px #ccc;
        -webkit-box-shadow:0 0 3px #ccc;
        box-shadow:0 0 3px #ccc;
      }
    }
    .item_content {
      background:#fff;
      background: rgba(255,255,255,0.5);
      height:50px;
      padding:5px 10px 5px 40px;
      -moz-box-shadow:0 0 3px #ccc;
      -webkit-box-shadow:0 0 3px #ccc;
      box-shadow:0 0 3px #ccc;
      font-size:0.85em;
      border:1px solid #ccc;
      -moz-border-radius:5px;
      -webkit-border-radius:5px;
      border-radius:5px;
      h2 {
        margin:0 0 5px 0;
        font-size:1em;
        font-weight:normal;
        .date_stamp {float:right; font-size:0.8em;}
        .item_categories, .item_categories a {color:#ccc;}
        .item_categories a:hover {color:#888;}
      }
      p.item_description {
        margin:0;
        font-size:0.85em;
        height:28px;
        width:100%;
        overflow:hidden;
        word-wrap:break-word;
        a {color:#444;}
      }
    }
  }
}
#game_form_right_column{
  display:inline-block;
  margin-left:30px;
  vertical-align:top;
  background:rgba(255,255,255,0.6);
  padding:15px;
  border-radius:10px;
  #game_form_image {
    margin-top:10px;
    img {
      border:1px solid #ccc;
      -moz-border-radius:8px;
      -webkit-border-radius:8px;
      border-radius:8px;
    }
  }
  #game_featured_field {min-height:0; margin-top:10px;}
  #sequels_list {
    max-width:300px;
    padding:0;
    margin:0;
    text-align:center;
    .add_sequel {
      display:inline-block;
      font-size:0.7em;
      border:1px solid #ccc;
      padding:4px;
      background:#fff;
      -moz-border-radius:4px;
      -webkit-border-radius:4px;
      border-radius:4px;
      position:relative;
      margin:0 5px 10px 5px;
      .delete_sequel {
        height:16px;
        width:16px;
        display:inline-block;
        position:absolute;
        top:-8px;
        right:-8px;
        background-image:url('delete.png');
        cursor:pointer;
      }
    }
  }
}