#game_show {
	background:#fff;
	display:inline-block;
	border:1px solid #ccc;
	text-align:left;
	min-width:450px;
	min-height:300px;
	-moz-box-shadow:0 0 8px #ccc;
	-webkit-box-shadow:0 0 8px #ccc;
	box-shadow:0 0 8px #ccc;
	margin:10px auto 15px auto;
	padding-bottom:20px;
	position:relative;
	#game_header {
		max-width:100%;
		width:auto;
		height:76px;
		padding-left:90px;
		margin:20px 20px 10px 20px;
		position:relative;
		div{
			position:absolute;
			top:0;
			left:0;
			img {
				border:1px solid #ccc;
				-moz-border-radius:8px;
				-webkit-border-radius:8px;
				border-radius:8px;
			}
			.featured_icon {
				position:absolute;
				top:-8px;
				left:-8px;
				-moz-border-radius:0;
				-webkit-border-radius:0;
				border-radius:0;
				border:0;
			}
		}
		h1 {
			margin:0;
			border-bottom:1px solid #ccc;
			position:relative;
			color:#A2D42F;
			text-shadow:0 1px 0 #008000;
			font-family:'Petita', sans-serif;
			span {
				position:absolute;
				bottom:4px;
				right:0;
				font-weight:normal;
				font-size:0.4em;
				color:#999;
				text-shadow:none;
				a{
					color:#999;
					text-decoration: none;
					&:hover {color:#444;}
				}
			}
		}
	}
	#game_body {
		text-align:center;
		embed {
			position:relative;
			z-index:100;
			border:1px solid #ccc;
			margin:0 20px;
		}
		.categories {
			text-align:left;
			font-size:0.8em;
			color:#999; 
			margin:0 20px;
			font-family:'Petita', sans-serif;
			a {color:#999; font-weight:normal; &:hover{color:#444;}}
		}
	}
}
#game_stats {
	margin:0 auto 15px auto;
	background:#fff;
	-moz-box-shadow:0 0 8px #ccc;
	-webkit-box-shadow:0 0 8px #ccc;
	box-shadow:0 0 8px #ccc;
	border:1px solid #ccc;
	text-align:left;
	font-size:0.9em;
	position:relative;
	display:block;
	width:auto;
	height:58px;
	.spinner {margin:20px auto; display:block;}
	#page_visits {
		margin:20px;
		display:block;
		color:#A2D42F;
		font-weight:bold;
		text-shadow:0 1px 0 #008000;
		font-family:'Petita', sans-serif;
		span {
			font-family:sans-serif;
			font-weight:normal;
			font-size:0.9em;
			text-shadow:none;
			color:#444;
			background:#FFFBC2;
			padding:2px 4px;
			-moz-border-radius:4px;
			-webkit-border-radius:4px;
			border-radius:4px;
			border:1px solid #FFF000;
		}
	}
	.reputation {
		position:absolute;
		right:20px;
		top:20px;
		white-space:nowrap;
		.reputation_bar {
			width:150px;
			height:20px;
			margin:0;
			padding:0;
			display:inline-block;
			overflow:hidden;
			-moz-border-radius:3px;
			-webkit-border-radius:3px;
			border-radius:3px;
			white-space:nowrap;
			position:relative;
			.left_bar, .right_bar {
				display:inline-block;
				width:50%;
				height:100%;
				background-color: #A2D42F;
			}
			.left_bar {width:50%; background-color:#DB4E10;}
			.full_bar {
				height:100%;
				display:block;
				background:#ccc;
				text-align:center;
				line-height:20px;
				font-size:0.8em;
				font-style:italic;
			}
			p.percentage {
				width:100%;
				margin:0;
				padding:0;
				height:100%;
				position:absolute;
				z-index:5;
				text-align:center;
				font-size:0.8em;
				font-weight:bold;
				color:#fff;
				line-height:20px;
				-moz-text-shadow:0 -1px 0 #999;
				-webkit-text-shadow:0 -1px 0 #999;
				text-shadow:0 -1px 0 #999;
			}
		}		
	}
}
.up_link, .down_link {
  padding:1px;
  vertical-align: top;
  height:16px;
  width:16px;
  border:1px solid #DB4E10;
  display:inline-block;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border-radius:5px;
  background:#DB4E10;
  &:hover {background:#FCB3AA;}
  img {width:16px; height:16px;}
}
.up_link {
  border-color:#A2D42F;
  background:#A2D42F;
  &:hover {background:#ddf99a;}
}
.voted, .voted:hover {background: #fffbc2; border-color:#fff000; cursor:default;}
#game_details {
	margin:0 auto;
	span {
		width:65%;
		display:inline-block;
		vertical-align: top;
		#game_description, #game_controls {
			width:auto;
			display:block;
			padding:20px;
			background:#fff;
			border:1px solid #ccc;
			-moz-box-shadow:0 0 8px #ccc;
			-webkit-box-shadow:0 0 8px #ccc;
			box-shadow:0 0 8px #ccc;
			font-size:0.8em;
			text-align:left;
			h3 {
				border-bottom:#ccc solid 1px;
				margin:0 0 5px 0;
				font-size:1.1em;
				color:#A2D42F;
				text-shadow:0 1px 0 #008000;
				font-family:'Petita', sans-serif;
			}
		}
		#game_description {margin-right:15px;}
	}
}
.games_container {
	padding:20px;
	margin:10px auto;
	display:block;
	background:#fff;
	border:1px solid #ccc;
	-moz-box-shadow:0 0 8px #ccc;
	-webkit-box-shadow:0 0 8px #ccc;
	box-shadow:0 0 8px #ccc;
	width:auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box; 
	h3 {
		margin-top:0;
		border-bottom:1px solid #ccc;
		text-align:left;
		color:#8ab327;
		font-family:'Petita', sans-serif;
		text-shadow:0 1px 0 #008000;
	}
	.games_list {
		white-space: nowrap;
		overflow-x:auto;
    table.games_list_table {margin:auto; width:100%;}
	}
}
.yellow_bg {background:#FFFFE0;}
.game_wrapper {
	padding:5px;
	display:inline-block;
	padding:10px;
	background:#ededed;
	border:1px solid #ccc;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	font-size:0.75em;
	text-align:center;
	vertical-align: middle;
	margin:5px;
	position:relative;
	span{
		.game_img {
			display:inline-block;
			position:relative;
			img {
				background:#fff;
				border:1px solid #ccc;
				-moz-border-radius:8px;
				-webkit-border-radius:8px;
				border-radius:8px;
				cursor:pointer;
				vertical-align: top;
			}
			.featured_icon {
				position:absolute;
				top:-8px;
				left:-8px;
				-moz-border-radius:0;
				-webkit-border-radius:0;
				border-radius:0;
				border:0;
				background:none;
			}
		}
		a.game_link, a.vertical_game_link {
			display:block;
			height:77px;
			width:77px;
			color:#999;
			width:75px;
			height:32px;
			background:#f7f7f7;
			margin-top:5px;
			-moz-border-radius:8px;
			-webkit-border-radius:8px;
			border-radius:8px;
			border:1px solid #ccc;
			&:hover {
				color:#444;
				background:#fff;
			}
		}
		&:hover a.game_link {background:#fff; color:#444;}
		a.vertical_game_link {
			display:inline-block;
			margin-top:0;
			margin-left:5px;
			vertical-align: top;
			text-align:left;
			padding:5px;
			height:65px;
			width:500px;
			h4 {
				margin:0;
				border-bottom:1px solid #ccc;
			}
			p {margin:5px 0 0 0; height:45px; width:100%; overflow:hidden;}
		}
	}
	.action {
		position:absolute;
		right:-8px;
		top:-8px;
	}
}
#under_development {
  text-shadow:0 1px 3px #999;
  margin:30px auto;
  width:1000px;
  h1 {margin:10px 0; font-size:3em;}
  p {
    font-size:1.5em;
    line-height:40px;
    &#dev_exp {
      margin:0;
      padding:20px 0;
      background:-moz-linear-gradient(left center, rgba(255, 255, 255, 0), #fff, rgba(255, 255, 255, 0));
      background:-webkit-linear-gradient(left,rgba(255, 255, 255, 0), #fff, rgba(255, 255, 255, 0));
      background:linear-gradient(left center, rgba(255, 255, 255, 0), #fff, rgba(255, 255, 255, 0));
    }
  }
  .divider {width:1000px;}
  .top_hr {margin-bottom:0;}
  .bottom_hr {margin-top:0;}
  .up_link, .down_link {vertical-align:middle; line-height:20px;}
  .down_link:hover {background:#DB4E10;}
  .up_link:hover {background:#A2D42F;}
  .construction {
    margin:20px 0;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    -moz-box-shadow:0 1px 3px #999;
    -webkit-box-shadow:0 1px 3px #999;
    box-shadow:0 1px 3px #999;
  }
}