.search_result {
	width:100%;
	text-align:left;
	position:relative;
	height:75px;
	margin:25px 0;
	.search_result_img {
		display:inline-block;
		position:absolute;
		top:-10px;
		left:-10px;
		img {
			background:#fff;
			border:1px solid #ccc;
			-moz-border-radius:8px;
			-webkit-border-radius:8px;
			border-radius:8px;
			-moz-box-shadow:0 0 3px #ccc;
			-webkit-box-shadow:0 0 3px #ccc;
			box-shadow:0 0 3px #ccc;
		}
	}
	.search_result_content {
		background:#fff;
		height:67px;
		padding:5px 10px 5px 75px;
		-moz-box-shadow:0 0 3px #ccc;
		-webkit-box-shadow:0 0 3px #ccc;
		box-shadow:0 0 3px #ccc;
		font-size:0.85em;
		border:1px solid #ccc;
		h2 {
			margin:0 0 5px 0;
			font-size:1em;
			font-weight:normal;
			.date_stamp {float:right; font-size:0.8em;}
		}
		p.search_result_description {
			margin:0;
			font-size:0.85em;
			height:42px;
			width:100%;
			overflow:hidden;
		}
	}
}
.ui-autocomplete {
	font-size:0.9em;
	-moz-border-radius:0;
	-webkit-border-radius:0;
	border-radius:0;
	border:1px solid #ccc;
	padding:5px;
	-moz-box-shadow:0 0 3px #ccc;
	-webkit-box-shadow:0 0 3px #ccc;
	box-shadow:0 0 3px #ccc;
	margin-bottom:1px;
	.ui-state-focus {
		border:1px solid #ccc;
		-moz-border-radius:0;
		-webkit-border-radius:0;
		border-radius:0;
		background:#ededed;
		cursor:pointer;
	}
}