#contact_us_form {
  #contact_reason_right_radius {
    margin-left:20px;
    display:inline-block;
    float:right;
    vertical-align: top;
  }
  .form_field {
    min-height:0;
    #bug_report_game_field {
      display:block;
      background:#ffffe6;
      border:1px solid #ccc;
      -moz-border-radius:3px;
      -webkit-border-radius:3px;
      border-radius:3px;
      margin-bottom:10px;
      width:420px;
      padding:10px 4px;
      #bug_report_game_title {font-size:0.85em;}
      label {display:inline-block; margin-bottom:5px;}
      img {
        background:#fff;
        border:1px solid #ccc;
        -moz-border-radius:5px;
        -webkit-border-radius:5px;
        border-radius:5px;
        vertical-align:middle;
        margin-right:5px;
        font-size:0.9em;
      }
    }
    #support_ticket_message {height:50px; width:420px; margin-bottom:5px;}
  }
  #messageCharCount {float:right; font-size:0.75em; color:#888;}
}
#st_left_column {
  float:left;
  width:25%;
  #support_ticket_form {
    margin-top:60px;
    display:block;
    padding:30px;
    #st_message_label {
      font-weight:bold;
      font-size:1.2em;
    }
    input {width:100%;}
    input[type='text'] {padding:4px 0; text-align:center;}
    input[type='submit'] {margin-bottom:0;}
  }
}
#st_right_col {
  float:left;
  width:75%;
  h1 {
    text-align:right;
    border-bottom:3px dotted #444;
    margin-left:100px;
    letter-spacing: 3px;
    span {
      font-weight:normal;
      font-size:0.8em;
    }
  }
  #st_list {
    padding-left:90px;
    .st_header {
      position:relative;
      font-size:1.8em;
      font-weight:bold;
      padding-left:10px;
      .st_sequence {
        position:absolute;
        right:100%;
        top:0;
        color:#c5c5c5;
        font-weight:normal;
        text-align:right;
        display:inline-block;
        sup {vertical-align:top; font-size:0.7em;}
        .st_pin, .st_archive, .st_pinned, .st_archived {
          height:14px;
          width:14px;
          display:inline-block;
          background-image:url('support_ticket_actions.png');
          background-repeat:no-repeat;
          background-position:0 0;
          margin-bottom:20px;
          position:absolute;
          right:0;
          top:37.5px;
          &:hover {background-position:-14px 0;}
        }
        .st_pin, .st_pinned {
          background-position:-28px 0;
          margin-left:5px;
          right:20px;
          &:hover {background-position:-42px 0;}
        }
        .st_pinned {
          background-position:-42px 0;
          &:hover {background-position:-28px 0;}
        }
        .st_archived {
          background-position:-14px 0;
          &:hover {background-position:0 0;}
        }
      }
    }
    .st_body {
      padding-left:10px;
      margin:0 0 20px 0;
      .st_message {
        margin:0;
      }
      .st_details {
        margin:10px 0 0 0;
        font-size:0.7em;
        color:#bbb;
      }
    }
  }
}