#signup-form {
	display:inline-block;
	padding:70px 80px 50px 80px;
	background:#fff;
  background:rgba(255, 255, 255, 0.5);
  -moz-box-shadow:0 0 8px #ccc;
  -webkit-box-shadow:0 0 8px #ccc;
	box-shadow:0 0 8px #ccc;
  -moz-border-radius:8px;
  -webkit-border-radius:8px;
  border-radius:8px;
	position:relative;
	margin:50px 0;
	border:1px solid #ccc;
	.form_header {
		position:absolute;
		top:-70px;
		left:-40px;
		display:inline-block;
		padding:0 70px;
		height:100px;
		line-height: 100px;
		font-size:2.4em;
		font-family:'Petita', "Arial Black", sans-serif;
		-moz-border-radius:25px;
		-webkit-border-radius:25px;
		border-radius:25px;
		background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #a2d42f), color-stop(1, #81ab1f) );
		background:-moz-linear-gradient( center top, #a2d42f 5%, #81ab1f 100% );
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a2d42f', endColorstr='#81ab1f');
		background-color:#a2d42f;
		-moz-box-shadow:inset 0px 1px 0px 0px #c8eda8, 0 0 7px #aaa;
		-webkit-box-shadow:inset 0px 1px 0px 0px #c8eda8, 0 0 7px #aaa;
		box-shadow:inset 0px 1px 0px 0px #c8eda8, 0 0 7px #aaa;
		color:#F2F8E6;
		border:1px solid #81ab1f;
		-webkit-text-shadow:0px -1px 0px #689324;
		-moz-text-shadow:0px -1px 0px #689324;
		text-shadow:0px -1px 0px #689324;
	}
	.form_field {
		margin-bottom:20px;
		input {
			padding:10px 0;
			font-size:1.5em;
			border-radius:8px;
			border:1px solid #DDD;
			background:#FFFFE6;
			-webkit-box-shadow:0 0 7px #F0F0F0;
			-moz-box-shadow:0 0 7px #F0F0F0;
			box-shadow:0 0 7px #F0F0F0;
      width:100%;
      text-align:center;
			&:focus{background:#fff;}
		}
	}
	.form_submit {
		text-align: center;
		input[type=submit] {
			width:100%;
			border:1px solid #ccc;
			border-radius:8px;
			padding:10px;
			font-weight:normal;
			font-size:1.5em;
			&:hover {cursor:pointer; background:#dedede;}
			&:active {position:relative; top:1px;}
		}
	}
}
#user_show {
	background:#fff;
  background:rgba(255, 255, 255, 0.5);
	display:inline-block;
	padding: 15px 15px 15px 185px;
	border:1px solid #ccc;
	text-align:left;
	min-width:450px;
	min-height:300px;
	-moz-box-shadow:0 0 8px #ccc;
	-webkit-box-shadow:0 0 8px #ccc;
	box-shadow:0 0 8px #ccc;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border-radius:5px;
	margin:20px 0;
	position:relative;
	.profile_pic {
		display:inline-block;
		text-align:center;
		position:absolute;
		left:15px;
		top:15px;
    .settings_header {
      width:150px;
      border-bottom:2px dotted;
      display:block;
      color:#aaa;
      margin:8px 0;
      text-align:left;
      font-size:0.75em;
      padding-bottom:5px;
    }
		#userImage {
			-moz-border-radius:10px;
			-webkit-border-radius:10px;
			border-radius:10px;
			border:1px solid #ccc;
		}
		a {
			padding:5px;
			background:#dedede;
			color:#444;
			border:1px solid #ccc;
			-moz-border-radius:4px;
			-webkit-border-radius:4px;
			border-radius:4px;
			font-size:0.7em;
      width:140px;
      text-align:center;
      display:block;
      margin-bottom:5px;
			&:hover {background:#ededed;}
      img {
        -moz-border-radius:0;
        -webkit-border-radius:0;
        border-radius:0;
        border:0;
        vertical-align: middle;
      }
		}
	}
	#user_header {
		display:inline-block;
		vertical-align: top;
		margin: 0;
		width:100%;
		border-bottom:solid 1px #ccc;
    text-align:left;
    color:#8ab327;
    font-family:'Petita', sans-serif;
    text-shadow:0 1px 0 #008000;
    font-size:1.4em;
    #change_un_link {
      font-size:0.4em;
      font-weight:normal;
      text-shadow:none;
      font-family: sans-serif, arial;
      display:inline-block;
      height:16px;
      float:right;
      margin-top:10px;
      img {vertical-align:top; height:12px; width:12px;}
      span {width:0; overflow:hidden; display:inline-block; white-space: nowrap; text-align:center;}
    }
	}
  .game_wrapper {
    margin:5px 5px 0 0;
  }
  .user_content {
    padding:10px;
    background:#fff;
    background:rgba(255,255,255,0.6);
    margin-top:15px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    .user_section_header {
      margin:0 0 5px 0;
      font-size:1.0em;
      font-weight:normal;
      color:#ccc;
      .ext_list_link {
        float:right;
        display:inline-block;
        height:20px;
        width:20px;
        background-image:url('more.png');
        background-position:-20px 0;
        background-repeat:no-repeat;
        position:relative;
        &:hover {background-position:0 0; cursor:pointer;}
        span {
          width:0;
          position:absolute;
          right:100%;
          top:4px;
          font-size:0.55em;
          text-shadow:none;
          text-align:left;
          display:inline-block;
          overflow:hidden;
          white-space:nowrap;
        }
      }
    }
    .no_user_content {
      height:136px;
      line-height:136px;
      text-align:center;
      font-size:0.8em;
      color:#888;
      margin:0;
      padding:0;
    }
  }
}
#change_prof_pic, #change_username {
  display:none;
  color:#444;
  font-size:0.8em;
  text-align:center;
  a {color:#8AB327;}
  a:hover {color:#a7db2c;}
  a:active {color:#5b881a;}
  #pending_filename {font-weight:normal;}
  .form_submit {
    text-align:center;
    input[type=submit]{
      text-align:center;
      padding:4px;
      border:1px solid #ccc;
      margin-bottom:10px;
      background:#ededed;
      -moz-border-radius:3px;
      -webkit-border-radius:3px;
      border-radius:3px;
      &:hover{background:#dedede; cursor:pointer;}
      &:disabled:hover {background:#ededed; cursor:default;}
      &:active {position:relative; top:1px;}
    }
  }
  .form_field {
    margin:20px 0 10px 0;
    display:inline-block;
    input[type='text'] {
      width:200px;
      background:#FFFFE6;
      border:1px solid #CCCCCC;
      padding:4px;
      font-size:0.9em;
      -moz-border-radius:3px;
      -webkit-border-radius:3px;
      border-radius:3px;
      &:focus {background:#fff;}
    }
    #username_check {
      font-size:0.8em;
      float:left;
      display:inline-block;
      width:210px;
      text-align:left;
      #invalid {color:red;}
      #valid {color:green;}
      #valid, #invalid {
        position:relative;
        display:block;
        padding-right:15px;
        .symbol{position:absolute; top:0; right:0;}
      }
    }
  }
  #userImgPrev {
    width:150px;
    height:150px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
    border:1px solid #ccc;
    margin:5px 0;
  }
}
.ui-dialog {
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border-radius:5px;
  box-shadow:0 0 5px #999;
  padding:20px;
  .ui-widget-header {
    background:none;
    border-radius:0;
    padding:0;
    border:0;
    border-bottom:1px solid #ccc;
    text-align:left;
    color:#8ab327;
    font-family:'Petita', sans-serif;
    text-shadow:0 1px 0 #008000;
    position:relative;
    cursor:move;
    .ui-button {
      position:absolute;
      top:-25px;
      right:-35px;
      background:#ededed;
      height:20px;
      width:20px;
      padding:15px;
      text-align:center;
      line-height:20px;
      border-radius:40px;
      border:2px solid #999;
      &:hover {border-color: #444;}
    }
  }
}
.ui-widget-overlay, .ui-front {z-index:1001;}