#signup-form {
	display:inline-block;
	padding:70px 80px 50px 80px;
	background:#fff;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
	box-shadow:0 0 8px #ccc;
	position:relative;
	margin:50px 0;
	border:1px solid #aaa;
	.form_header {
		position:absolute;
		top:-70px;
		left:-40px;
		display:inline-block;
		padding:0 70px;
		height:100px;
		line-height: 100px;
		font-size:2.4em;
		-moz-border-radius:25px;
		-webkit-border-radius:25px;
		border-radius:25px;
		background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #a2d42f), color-stop(1, #81ab1f) );
		background:-moz-linear-gradient( center top, #a2d42f 5%, #81ab1f 100% );
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a2d42f', endColorstr='#81ab1f');
		background-color:#a2d42f;
		-moz-box-shadow:inset 0px 1px 0px 0px #c8eda8, 0 0 7px #aaa;
		-webkit-box-shadow:inset 0px 1px 0px 0px #c8eda8, 0 0 7px #aaa;
		box-shadow:inset 0px 1px 0px 0px #c8eda8, 0 0 7px #aaa;
		color:#F2F8E6;
		border:1px solid #81ab1f;
		-webkit-text-shadow:0px -1px 0px #689324;
		-moz-text-shadow:0px -1px 0px #689324;
		text-shadow:0px -1px 0px #689324;
		font-family:arial black, sans-serif, arial;
	}
	.form_field {
		margin-bottom:20px;
		input {
			width:350px;
			padding:10px;
			font-size:1.5em;
			border-radius:8px;
			border:1px solid #DDD;
			background:#FFFFE6;
			-webkit-box-shadow:0 0 7px #F0F0F0;
			-moz-box-shadow:0 0 7px #F0F0F0;
			box-shadow:0 0 7px #F0F0F0;
			&:focus{background:#fff;}
		}
	}
	.form_submit {
		text-align: center;
		input[type=submit] {
			width:100%;
			border:1px solid #ccc;
			border-radius:8px;
			padding:10px;
			font-weight:normal;
			font-size:1.5em;
			&:hover {cursor:pointer; background:#dedede;}
			&:active {position:relative; top:1px;}
		}
	}
}
.profile_pic {
	img {
		border-radius:10px;
	}
}