#sign_up_message {
	margin:40px auto -40px auto;
	padding:10px;
	background:#FFFFE0;
	-moz-box-shadow:0 0 8px #CCCCCC;
	-webkit-box-shadow:0 0 8px #CCCCCC;
	box-shadow:0 0 8px #CCCCCC;
	border:1px solid #ccc;
	-moz-border-radius:12px;
	-webkit-border-radius:12px;
	border-radius:12px;
	text-align:left;
	font-size:0.9em;
	position:relative;
	display:block;
	width:auto;
	height:30px;
	p {
		display:inline-block;
		margin:0;
		padding:0;
		height:30px;
		line-height: 30px;
	}
	#signup_link {
		float:right;
		display:inline-block;
		padding:0 20px;
		height:28px;
		line-height: 28px;
		font-size:1em;
		font-family:'Petita', "Arial Black", sans-serif;
		-moz-border-radius:10px;
		-webkit-border-radius:10px;
		border-radius:10px;
		background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #a2d42f), color-stop(1, #81ab1f) );
		background:-moz-linear-gradient( center top, #a2d42f 5%, #81ab1f 100% );
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a2d42f', endColorstr='#81ab1f');
		background-color:#a2d42f;
		-moz-box-shadow:inset 0px 1px 0px 0px #c8eda8, 0 0 4px #aaa;
		-webkit-box-shadow:inset 0px 1px 0px 0px #c8eda8, 0 0 4px #aaa;
		box-shadow:inset 0px 1px 0px 0px #c8eda8, 0 0 4px #aaa;
		color:#F2F8E6;
		border:1px solid #81ab1f;
		-webkit-text-shadow:0px -1px 0px #689324;
		-moz-text-shadow:0px -1px 0px #689324;
		text-shadow:0px -1px 0px #689324;
	}
}
#search {
	width:100%;
	position:relative;
	height:100px;
	margin: 40px 0 20px -1px;
	#title_search{;
		position:absolute;
		left:0;
		bottom:0;
		display:block;
		width:100%;
		padding:0 110px 0 12px;
		border-width:0;
		border:1px solid #ccc;
		height:42px;
		line-height:42px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		background:#fff;
		background:rgba(255, 255, 255, 0.5);
		box-shadow:0 0 3px #ccc;
	}
	label {
		padding:14px 20px;
		font-size:1.7em;
		font-family:'Petita', "Arial Black", sans-serif;
		-moz-border-radius:10px;
		-webkit-border-radius:10px;
		border-radius:10px;
		background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #a2d42f), color-stop(1, #81ab1f) );
		background:-moz-linear-gradient( center top, #a2d42f 5%, #81ab1f 100% );
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a2d42f', endColorstr='#81ab1f');
		background-color:#a2d42f;
		-moz-box-shadow:inset 0px 1px 0px 0px #c8eda8, 0 0 4px #aaa;
		-webkit-box-shadow:inset 0px 1px 0px 0px #c8eda8, 0 0 4px #aaa;
		box-shadow:inset 0px 1px 0px 0px #c8eda8, 0 0 4px #aaa;
		color:#F2F8E6;
		border:1px solid #81ab1f;
		-webkit-text-shadow:0px -1px 0px #689324;
		-moz-text-shadow:0px -1px 0px #689324;
		text-shadow:0px -1px 0px #689324;
		float:left;
		margin-left:-30px;
		position:relative;
		z-index:16;
	}
	.form_submit {
		position:absolute;
		top:59px;
		right:1px;
		height:40px;
		width:100px;
		border:0;
		padding:0;
		border-left:1px solid #ccc;
		input[type=submit] {
			padding:0;
			width:100%;
			height:100%;
			border:0;
			background-color:#ededed;
			background-image:url('search.png');
			background-position: center center;
			background-repeat:no-repeat;
			cursor:pointer;
			&:hover {background-color:#dedede;}
		}
		&:before, &:after {
			border-color:rgba(0, 0, 0, 0);
			border-style:solid solid outset;
			content: " ";
			display:block;
			position:absolute;
			right:100%;
			top:12px;
			width:0;
			height:0;
		}
		&:after {
			border-right-color:#ededed;
			border-width:7px;
			margin-top:1px;
			margin-left:1px;
		}
		&:before {
			border-right-color:#ccc;
			border-width:8px;
			margin-left:1px;
		}
		&:hover:after{border-right-color:#dedede;}
	}
}
