<div class="center constraint">
	<h1 class="category_title"><%= @category.name %></h1><br/>
	<% if current_user && current_user.admin? %>
		<%= link_to "Set Featured Games", featured_category_game_path(@category), id: 'ft_game_link' %><br/>
	<% end %>
	<br class="clear"/>
	<div class="games_container yellow_bg">
		<h3>Featured Games</h3>
		<% if @featured_games.present? %>
			<%= render partial: 'welcome/game_list', locals: {games: @featured_games} %>
		<% end %>
	</div>
	<div class="games_container">
		<h3>New Games</h3>
		<%= render partial: 'welcome/game_list', locals: {games: @new_games} %>
	</div>
</div>