<div class="center">
  <div class="form_wrapper">
    <%= direct_upload_form_for @file, html: {class: 'form', style: 'min-width:300px;'} do |f| %>
      <h1 class="form_header">Upload Game</h1>
      <% if @upload.errors.any? %>
        <fieldset class="form_errors">
          <legend>Form Errors</legend>
          <ul>
            <% for message in @upload.errors.full_messages %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </fieldset>
      <% end %>
      <div class="form_field">
        <%= f.file_field :game %><br/>
        <div id="fileName">File: <span><i>No file selected</i></span></div>
        <div class="val" id="val_file_size">File is too big (maximum 50 MB)</div>
        <div class="val" id="val_file_type">File is wrong type (must be .swf)</div>
      </div>
      <div class="form_submit">
        <%= f.submit "Submit Game", id: 'file_submit' %>
      </div>
    <% end %>
    <ol class="steps">-Steps-
      <li class="file"><span class="int">1</span> Provide Info</li>
      <li class="last current"><span class="int">2</span> Upload File</li>
      <br class="clear"/>
    </ol>
  </div>
</div>
<script>
  $("#file_submit").on('click', function(){
    if ($("#game_uploader_game").val() == "") {
      alert("You must select a file first.");
      return false;
    }
  });
  $("#game_uploader_game").change(function(){
    var size = this.files[0].size,
        MBsize = (size / (1024*1024)).toFixed(2),
        value = $(this).val();

    if (value !== "") {
      $("#fileName span").text(value);

      if (MBsize > 50) {
        $("#val_file_size").show();
        disable("#file_submit");
      } else {
        $("#val_file_size").hide();
        undisable("#file_submit");
      }

      var ext = value.split('.').pop().toLowerCase();
      if($.inArray(ext, ['swf']) == -1) {
        $("#val_file_type").show();
        disable("#file_submit");
      } else {
        $("#val_file_type").hide();
        undisable("#file_submit");
      }
    } else {
       $("#fileName span").html('<i>No file selected</i>')
    }
  });

  function disable(element) {
    $(element).attr("disabled","disabled");
  }
  function undisable(element) {
    $(element).removeAttr('disabled')
  }
</script>
