<div id="sidebar">
  <div id="sidebar_links">
    <%= link_to '', games_upload_path, class: 'sidebarLink', title: 'Add Game' %><br/>
    <%= link_to '', support_tickets_path, class: 'sidebarLink support_link', title: 'View Support Tickets' %><br/>
    <%= link_to '', developers_path, class: 'sidebarLink dev_link', title: 'View Developers' %>
  </div>
  <div id="sidebar_handle">
    &#10093;
  </div>
</div>