<!DOCTYPE html>
<html>
<head>
  <title>Glipster</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="wrapper">
	<div id="header">
		<ul id="menu">
			<li>Home</li>
			<li>Categories</li>
		</ul>
	</div>
	<div id="body">
		<%= yield %>
	</div>
	<div id="footer"></div>
</div>

</body>
</html>
